/* カメラコンポーネントの幅と高さを120pxに設定 */
/* .camera-container {
  width: 120px;
  height: 120px;
} */

/* カメラプレビューの幅と高さを120pxに設定 */
/* .webcam-react {
  width: 120px;
  height: 120px;
} */

/* ピンクのボタンスタイル */
.pink-button {
  background-color: #d7a8f2; /* ピンクの色を指定 */
  color: #fff; /* ボタンのテキストの色を白に設定 */
  border: none; /* ボーダーをなしに設定 */
  padding: 10px 20px; /* パディングを指定してボタンのサイズを調整 */
  border-radius: 10px; /* 角丸にするための設定 */
  cursor: pointer; /* カーソルをポインターに変更してクリック可能であることを示す */
  transition: background-color 0.3s ease; /* ホバー時の色変化をスムーズにするアニメーション */
  
}

/* ホバー時のスタイル */
.pink-button:hover {
  background-color: #fa47a7; /* ホバー時に色を変更 */
}
