.camera-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.camera-container__video {
  width: "30rem"; 
  height: "30rem"; 
}
.camera-container__image {
   width: 20rem; 
  height: 20rem; 
}

.camera-container__button {
  background-color: #e8aaa3; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  margin-bottom: 1rem;
}
 

.camera-container__button--capture {
}
.camera-container__button--recapture {
}
