.camera-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.camera-container__video {
  width: "30%"; // 幅を変更する値に設定
  height: "40rem"; // 高さを自動調整する場合
}
.camera-container__image {
   width: 30rem; // 幅を変更する値に設定
  height: 20rem; // 高さを自動調整する場合
}

.camera-container__button {
  background-color: #e8aaa3; /* ピンクの色を指定 */
  color: #fff; /* ボタンのテキストの色を白に設定 */
  border: none; /* ボーダーをなしに設定 */
  padding: 10px 20px; /* パディングを指定してボタンのサイズを調整 */
  border-radius: 10px; /* 角丸にするための設定 */
  cursor: pointer; /* カーソルをポインターに変更してクリック可能であることを示す */
  transition: background-color 0.3s ease; /* ホバー時の色変化をスムーズにするアニメーション */
  margin-bottom: 1rem;
}
 

.camera-container__button--capture {
}
.camera-container__button--recapture {
}
