// styles.scss
.single-post {
  padding: 10px;
  padding-bottom: 150px;
  margin: 10px;
  margin-bottom: 80px;
  max-height: calc(100vh - 100px); /* 100pxはフッターの高さに合わせて調整 */
  // overflow-y: auto;

  /* 共通のスタイル */

  @media (max-width: 768px) {
    font-size: 16px;
    /* スマートフォン用のスタイル */
  }

  @media (min-width: 769px) {
    font-size: 18px;
    /* PC用のスタイル */
  }
}

.single-post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.single-post__author {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1rem;
  gap: 1rem;
  border-radius: 50%;

  @media (max-width: 768px) {
    font-size: 14px;
    /* スマートフォン用のスタイル */
  }

  @media (min-width: 769px) {
    font-size: 18px;
    /* PC用のスタイル */
  }
}

.post-list__avatar {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.5px solid #d18d8d;
  background-color: #fff;
  object-fit: cover; // 画像をコンテナのサイズに合わせてトリミング
}

.single-post__title {
  font-size: 1.2rem;
}

.single-post__image {
  max-width: 100%;
  height: auto;
  width: 100%; /* 追加 */
  object-fit: cover; /* 追加 */

  @media (max-width: 768px) {
    max-width: 20rem; /* widthからmax-widthに変更 */
    margin: 0 auto;
  }

  @media (min-width: 769px) {
    max-width: 30rem; /* widthからmax-widthに変更 */
    margin: 0 auto;
  }
}

.single-post__category-container {
  display: flex; /* 子要素を横並びにする */
  align-items: center; /* 垂直方向の中央揃え */
  gap: 10px; /* 子要素間のスペース */
  margin-top: 1rem;
}

.single-post__category {
}

.single-post__category-name {
}

.single-post__description {
}

.single-post__reference {
  font-size: 0.8rem;
}

.single-post__memo {
  font-size: 0.8rem;
  margin: 1rem 0; // 上下にマージンを追加
  line-height: 1.5; // 行の高さを調整
}
.single-post__reference-link {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  font-size: 0.8rem;
}
.single-post__reference-link:visited {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  font-size: 0.8rem;
}

.single-post__timestamp {
  font-size: 0.8rem;
}

.button-container {
  display: flex;
  margin-bottom: 1rem;
}

.single-post__icons {
  display: flex;
  margin-right: 1rem;
  & > *:not(:last-child) {
    margin-right: 1rem; // 1remの隙間を追加。値はお好みで調整してください。
  }
}

.single-post__back {
  margin-bottom: 2rem;
}

.loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
