/* General styles */
ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  padding: 0;
}

li {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* PC */
@media (min-width: 768px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

/* Specific components or elements */
.post-list {
}

.post-list__title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #604461;
  text-align: center;
  margin: 0rem auto 2rem;
  padding-top: 40px;
}

.post-list__avatar {
  width: 3.5rem;
  margin-right: 60px;
  border: 0.5px solid #c7baba;
  background-color: #fff;
  border-radius: 50%;
  height: 3.5rem;
  object-fit: cover; // 画像をコンテナのサイズに合わせてトリミング
}

.post-list__bio-content {
  font-size: 0.9rem;
  padding: 2rem;
}

.post-list__items {
  /* ... */
}

.post-list__item {
  /* ... */
}

.post-list__link {
  /* ... */
}

.post-list__image {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center center;
}

.loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post-list__no-items {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.post-list__counts-container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 1rem;
}
