ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  padding: 0;
}

/* PC */
@media (min-width: 768px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }

  img {
    max-width: 100%;
    height: auto; /* 高さをautoに変更 */
    display: block; /* 追加 */
  }
}

li {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; /* 追加 */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.post-list {
  /* ... */
}

.post-list__title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #604461;
  text-align: center;
  margin: 2rem auto 2rem;
}

.post-list__items {
  /* ... */
}

.post-list__item {
  /* ... */
}

.post-list__link {
  /* ... */
}

.post-list__image {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover; /* 画像がコンテナに収まるようにトリミングします */
  object-position: center center; /* 画像の中心をコンテナの中心に合わせます */
}

.loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post-list__no-items {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}