.ulStyle {
  display: block;
  margin: 0;     /* デフォルトのマージンを削除 */
  padding: 0;    /* デフォルトのパディングを削除 */
  list-style: none; /* デフォルトのバレットポイントを削除 */
}

.liStyle {
  width: 100%;
  background-color: #f7f3e9;
  border-radius: 3px;
  padding: 1rem;
  font-size: 0.8rem;
  margin-bottom: 10px; 
  border: #b8b3a6;
}


.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px;
}
