:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --breakpoint-sm: 768px;
  --breakpoint-lg: 1280px;
}

body {
  color: #584040;
  background-color: #fbf5f5 !important;
  min-width: 320px;
  max-width: 500px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  overflow-y: auto;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:visited {
  color: inherit;
}
