/* App.css または適当なCSSファイルに追加 */
.lightButton {
  background-color: transparent;
  border: 1px solid #ddd;
  color: #aaa;
  padding: 8px 12px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.lightButton:hover {
  color: #888;
  border-color: #ccc;
}

.form {
   max-height: calc(100vh - 100px); /* 100pxはフッターの高さに合わせて調整 */
  overflow-y: auto;
}



.form__field {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;

    @media (max-width: 768px) {
        margin: 8px;
        padding: 8px;
    }

    @media (min-width: 769px) {
        margin: 12px;
        padding: 12px;
    }
}

.form__label {
    margin-bottom: 5px;
    font-weight: bold;

    @media (max-width: 768px) {
        font-size: 14px;
    }

    @media (min-width: 769px) {
        font-size: 16px;
    }
}

.form__button, .form__submit-button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    background-color: #e09189;
    color: white;
    border-radius: 4px;
    margin:0 auto 50px;

    @media (max-width: 768px) {
        padding: 6px 10px;
        font-size: 14px;
    }

    @media (min-width: 769px) {
        padding: 10px 14px;
        font-size: 16px;
    }
}

.form__button--light {
    background-color: #E0E0E0;
    color: black;
    margin: 0;
    margin-top: 1rem;
}

.form__image {
    max-width: auto;
    height: auto;
    margin-top: 10px;
}

.form__input, .form__select, .form__textarea {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: auto;
  

    @media (max-width: 768px) {
        font-size: 14px;
    }

    @media (min-width: 769px) {
        font-size: 18px;
    }
}

.form__error {
    color: red;
    margin-top: 5px;

    @media (max-width: 768px) {
        font-size: 12px;
    }

    @media (min-width: 769px) {
        font-size: 14px;
    }
}
